<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <!-- HTML Meta Tags -->
  <title>CryptoLexique</title>
  <meta name="description" content="Un lexique communautaire sur la base de contribution de tout ce qui est présent sur la blockchain !">
  <link rel ="icon" href="https://cryptolexique.me/assets/favicon.ico" type="image/x-icon">
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://cryptolexique.me/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="CryptoLexique">
  <meta property="og:description" content="CryptoLexique est un lexique de termes et d'expressions utilisés dans le monde de la cryptomonnaie.">
  <meta property="og:image" content="https://cryptolexique.me/assets/og-image.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="cryptolexique.me">
  <meta property="twitter:url" content="https://cryptolexique.me">
  <meta name="twitter:title" content="CryptoLexique">
  <meta name="twitter:description" content="CryptoLexique est un lexique de termes et d'expressions utilisés dans le monde de la cryptomonnaie.">
  <meta name="twitter:image" content="https://cryptolexique.me/assets/og-image.png">
  <meta name="theme-color" content="#501ccc">
  <meta name="twitter:card" content="summary_large_image">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">

      {{ content }}

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        This site is open source. {% github_edit_link "Improve this page" %}.
      </div>
      {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>